@model WebBlog.Models.Post

@{
    if (Session["USERNAME"] == null)
    {

        Response.Redirect("~/Home/Index");

    }

}

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detaylar</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Başlık
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITLE)
        </dd>

        <dt>
           İçerik
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTENT)
        </dd>

        <dt>
           Yazar
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUTHOR)
        </dd>

        <dt>
            Oluşturma Tarihi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATEDATE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Listeye geri dön", "Index")
</p>
