@model IEnumerable<WebBlog.Models.Post>

@{    
    if (Session["USERNAME"] == null)
    {

        Response.Redirect("~/Home/Index");
        
    }   
    
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN PAGE HEAD -->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>Gönderi listele <small>Burada daha önce oluşturduğunuz gönderileri listeleyebilirsiniz.</small></h1>
    </div>
    <!-- END PAGE TITLE -->

</div>
<!-- END PAGE HEAD -->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="/Home">Anasayfa</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/Posts/Index">Gönderi listesi</a>
        <i class="fa fa-circle"></i>
    </li>
 


</ul>
<!-- END PAGE BREADCRUMB -->



	<!-- BEGIN SAMPLE TABLE PORTLET-->
<div class="portlet box green-haze">
    <div class="portlet-title">
        <div class="caption">
            <button id="sample_editable_1_new" class="btn default" style="margin-bottom:5px;">
                @Html.ActionLink("Yeni gönderi oluştur", "Create") &nbsp;<i class="fa fa-plus"></i>
            </button>
        </div>
    
    </div>
    <div class="portlet-body flip-scroll">
        <table class="table table-bordered table-striped table-condensed flip-content">
            <thead class="flip-content">
                <tr>
                    <th width="20%">
                        Başlık
                    </th>
                    <th width="35%">
                        İçerik
                    </th>
                    <th width="8%">
                        Yazar
                    </th>
                    <th width="8%">
                        Oluşturma Tarihi
                    </th>
                    <th width="10%">

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TITLE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CONTENT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AUTHOR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CREATEDATE)
                        </td>
                        <td>
                            @Html.ActionLink("Düzenle", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Detay", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Sil", "Delete", new { id = item.ID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!-- END SAMPLE TABLE PORTLET-->

