@model WebBlog.Models.User

@{
    if (Session["USERNAME"] != null)
    {

        Response.Redirect("~/Home/Index");

    }
}

@{
    ViewBag.Title = "Oturum Aç";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- BEGIN PAGE HEAD -->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>Giriş <small>Yeni gönderi yayınlamak ve geçmiş gönderilerinizi düzenlemek için giriş yapın</small></h1>
    </div>
    <!-- END PAGE TITLE -->

</div>
<!-- END PAGE HEAD -->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="/Home">Anasayfa</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/Login/VerifyLogin">Giriş</a>
        <i class="fa fa-circle"></i>
    </li>


</ul>
<!-- END PAGE BREADCRUMB -->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <h4 class="control-label col-md-2"> Kullanıcı adı</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.USERNAME, new { htmlAttributes = new { @class = "form-control input-medium" } })
                @Html.ValidationMessageFor(model => model.USERNAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4 class="control-label col-md-2"> Şifre</h4>

            <div class="col-md-10">
                @Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @class = "form-control input-medium", @type="password" } })
                @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
                <span class="label-danger"> @ViewBag.Status </span>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Oturum Aç" class="btn btn-default" />
            </div>
        </div>



    </div>
}