@model PagedList.IPagedList<WebBlog.Models.Post>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN PAGE LEVEL STYLES -->
<link href="../../assets/admin/pages/css/blog.css" rel="stylesheet" type="text/css" />
<link href="../../assets/admin/pages/css/news.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN PAGE HEAD -->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>Blog <small>Son yazılar ve popüler makaleler</small></h1>
    </div>
    <!-- END PAGE TITLE -->

</div>
<!-- END PAGE HEAD -->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="/Home">Anasayfa</a>
        <i class="fa fa-circle"></i>
    </li>


</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE CONTENT-->
<div class="portlet light">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12 blog-page">


                <div class="row">
                    <div class="col-md-9 col-sm-8 article-block">

                        <h1 style="margin-top:0px">Güncel Yazılar</h1>

                        @foreach (var item in Model)
                        {
                            <div class="row">
                                <div class="col-md-4 blog-img blog-tag-data">
                                    <img src="../../assets/admin/pages/media/gallery/image3.jpg" alt="" class="img-responsive">
                                    <ul class="list-inline">
                                        <li>
                                            <i class="fa fa-calendar"></i>
                                            <a href="#">
                                                @Html.DisplayFor(modelItem => item.CREATEDATE)
                                            </a>
                                        </li>
                                        <li>
                                            <i class="fa fa-user"></i>
                                            <a href="#">
                                                @Html.DisplayFor(modelItem => item.AUTHOR)
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                                <div class="col-md-8 blog-article">
                                    <h3>
                                        <a href="page_blog_item.html">
                                            @Html.DisplayFor(modelItem => item.TITLE)....
                                        </a>
                                    </h3>
                                    <p>
                                        @Html.DisplayFor(modelItem => item.CONTENT)
                                    </p>
                                   
                                        @Html.ActionLink("Daha fazla oku..", "Details", new { id = item.ID }, new { @class = "btn blue" })
                                       <i class="m-icon-swapright m-icon-white"></i>
                                    
                                </div>
                            </div>

                            <hr>
                        }

                    </div>
                    <!--end col-md-9-->
                    <div class="col-md-3 col-sm-4 blog-sidebar">
                        <h3 style="margin-top:0px">Popüler makaleler</h3>
                        <div class="top-news">

                            @{

                                string[] color = { "purple", "yellow-casablanca", "green-jungle", "blue", "yellow-gold" };
                                string[] icon = { "fa-thumbs-up", "fa-mortar-board", "fa-user", "fa-pencil", "fa-paper-plane" };
                                string TITLE = "";
                                string subTITLE = "";
                                Random rnd = new Random();
                                int i = 0; // creates a number between 1 and 12
                                foreach (var item in Model.Take(10))
                                {
                                    TITLE = item.TITLE.ToString();
                                    if (TITLE.Length > 25)
                                    {

                                        subTITLE = TITLE.Substring(0, 26) + "....";

                                    }
                                    else
                                    {

                                        subTITLE = TITLE;

                                    }

                                    i = rnd.Next(0, 4);
                                    <label></label>
                                    <a href="#" class="btn @color[i]">
                                        <span>
                                            @subTITLE
                                        </span>
                                        <em>Tarih: @Html.DisplayFor(modelItem => item.CREATEDATE)</em>
                                        <em>
                                            <i class="fa fa-user"></i>
                                            Yazar:  @Html.DisplayFor(modelItem => item.AUTHOR)
                                        </em>
                                        <i class="fa @icon[i] top-news-icon"></i>
                                    </a>

                                }
                            }

                        </div>
                        <div class="space20">
                        </div>


                    </div>
                    <!--end col-md-3-->
                </div>
                <ul class="pagination pull-right">
                
                    Toplam @Model.PageCount sayfadan @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber). sayfayı görüntülüyorsunuz.


                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

                </ul>

            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
