@model IEnumerable<WebBlog.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN PAGE LEVEL STYLES -->
<link href="../../assets/admin/pages/css/blog.css" rel="stylesheet" type="text/css" />
<link href="../../assets/admin/pages/css/news.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->

   <!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="/Home">Anasayfa</a>
        <i class="fa fa-circle"></i>
    </li>


</ul>
<!-- END PAGE BREADCRUMB -->


<!-- BEGIN PAGE CONTENT-->
<div class="portlet light">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12 blog-page">
                <div class="row">
                    <div class="col-md-9 col-sm-8 article-block">

                        <h1 style="margin-top:0px">Güncel Yazılar</h1>

                        @foreach (var item in Model)
                        {
                            <div class="row">
                                <div class="col-md-4 blog-img blog-tag-data">
                                    <img src="../../assets/admin/pages/media/gallery/image3.jpg" alt="" class="img-responsive">
                                    <ul class="list-inline">
                                        <li>
                                            <i class="fa fa-calendar"></i>
                                            <a href="#">
                                                @Html.DisplayFor(modelItem => item.CREATEDATE)
                                            </a>
                                        </li>
                                        <li>
                                            <i class="fa fa-user"></i>
                                            <a href="#">
                                                @Html.DisplayFor(modelItem => item.AUTHOR)
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                                <div class="col-md-8 blog-article">
                                    <h3>
                                        <a href="page_blog_item.html">
                                            @Html.DisplayFor(modelItem => item.TITLE)....
                                        </a>
                                    </h3>
                                    <p>
                                        @Html.DisplayFor(modelItem => item.CONTENT)
                                    </p>
                                    <a class="btn blue" href="page_blog_item.html">
                                        Daha fazla oku.. <i class="m-icon-swapright m-icon-white"></i>
                                    </a>
                                </div>
                            </div>

                            <hr>
                        }

                    </div>
                    <!--end col-md-9-->
                    <div class="col-md-3 col-sm-4 blog-sidebar">
                        <h3 style="margin-top:0px">Popüler makaleler</h3>
                        <div class="top-news">

                            
                            @foreach (var item in Model)
                            {

                                <a href="#" class="btn green">
                                    <span>

                                        @Html.DisplayFor(modelItem => item.TITLE)

                                    </span>
                                    <em>Tarih: @Html.DisplayFor(modelItem => item.CREATEDATE)</em>
                                    <em>
                                        <i class="fa fa-user"></i>
                                      Yazar:  @Html.DisplayFor(modelItem => item.AUTHOR)
                                    </em>
                                    <i class="fa fa-briefcase top-news-icon"></i>
                                </a>

                            }

                            red green blue yellow purple
                        </div>
                        <div class="space20">
                        </div>


                    </div>
                    <!--end col-md-3-->
                </div>
                <ul class="pagination pull-right">
                    <li>
                        <a href="#">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            1
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            2
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            3
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            4
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            5
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            6
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
